@model List<Negocio.N_Usuario>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"
    <h2>Administración de Usuarios</h2>
</head>
<body>
    <div class="col-md-12">
        <table class="table">
            <thead>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Nombre de Usuario</th>
            <th>Contraseña</th>
            <th>Tipo de Usuario</th>
            <th>Estado</th>
            <th>Editar</th>
            </thead>
            <tbody>
                @foreach (Negocio.N_Usuario item in Negocio.N_Usuario.Listar())
                {
                    <tr>
                        <td>
                            @item.Apellido
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Telefono
                        </td>
                        <td>
                            @item.Usuario
                        </td>
                        <td>
                            @item.Passwords
                        </td>
                        <td>
                            @item.Estado
                        </td>
                        <td>
                            @item.TipoPerfil
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/Usuario/EditarUsuario/@item.IdUsuario">Modificar</a>
                        </td>
                    </tr>
                }
        </table>
        <div class="col-md-12">
            <a class="btn btn-primary" href="/Usuario/AgregarUsuario">Agregar Usuario Nuevo</a>
        </div>
        <br />
        <div class="col-md-12">
            <a class="btn btn-primary" href="/Usuario/Index">Volver al Menú</a>
        </div>
    </div>
</body>
</html>
