@model List<Negocio.N_Apunte>

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Centro Copiado - Listado de Apuntes</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

</head>

<body>
    <div class="card-header"><h1 class="text-lg-center">Listado de Apuntes Habilitados</h1></div>
    <br /><br />

    <div class="container">
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>ID Apunte</th>
                    <th>Titulo Apunte</th>
                    <th>Stock</th>
                    <th>Cantidad Hojas</th>
                    <th>Precio Apunte</th>
                    <th>Estado</th>
                    <th>Accion</th>
                </tr>

            </thead>

            <tbody>
                @foreach (Negocio.N_Apunte item in Model)
                {
                    <tr>
                        <td>@item.id_Apuntes</td>
                        <td>@item.tituloApunte</td>
                        <td>@item.Stock</td>
                        <td>@item.cantidadHojas</td>
                        <td>@item.precio</td>
                        <td>@item.estadoApunte</td>
                        <td>@Html.ActionLink("Unir al carrito", "AgregarCarrito", "Apunte", new { id = @item.id_Apuntes }, new { @class = "rounded - circle border - 0" })</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable(
                {
                    paging: false,
                }
            );
        });
    </script>
   
    <div class="text-info card-footer">@ViewBag.Mensaje</div>

</body>

</html>


