@model List<Negocio.N_Apunte>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Centro Copiado - Listado de Apuntes</title>
</head>

<body>
    <div class="card-header"><h1 class="text-lg-center">Listado de Apuntes Habilitados</h1></div>

    @if(Session["NombreAlumno"] != null) 
    { 
        <div>Nombre Alumno: @Session["NombreAlumno"]</div>

    }

    @if (Session["AcumuladoCarrito"] != null)
    {
        <br />
        <hr>
        <div>Acumulado Carrito $: @Session["AcumuladoCarrito"]</div>
        <hr>
        <br />
        <div>@Html.ActionLink("VER CARRITO", "AgregarCarrito", "Apunte", null, new { @class = "rounded - circle border - 0 btn-info" })</div>
    }

    <br /><br />

    <div class="container">
        <table id="table_id" class="table table-hover">
            <thead>
                <tr>
                    <th>ID Apunte</th>
                    <th>Titulo Apunte</th>
                    <th>Stock</th>
                    <th>Cantidad Hojas</th>
                    <th>Precio Apunte</th>
                    <th>Estado</th>
                    <th>Accion</th>
                    <th>Accion</th>
                </tr>

            </thead>

            <tbody>
                @foreach (Negocio.N_Apunte item in Model)
                {
                    <tr>
                        <td>@item.id_Apuntes</td>
                        <td>@item.tituloApunte</td>
                        <td>@item.Stock</td>
                        <td>@item.cantidadHojas</td>
                        <td>@item.precio</td>
                        <td>@item.estadoApunte</td>
                        <td>
                            @if (@item.Stock != 0 && Session ["NombreAlumno"] == null)
                            {
                                @Html.ActionLink("Unir al carrito", "AgregarCarrito", "Apunte", new { id = @item.id_Apuntes }, new { @class = "rounded - circle border - 0" })
                            }
                            else if (@item.Stock == 0)
                            { <p>SIN STOCK</p>}
                        </td>
                        <td>
                            @if(Session ["NombreAlumno"] != null)
                            {
                            @Html.ActionLink("Reservar", "Agregar", "Reserva", new { id = @item.id_Apuntes }, new { @class = "rounded - circle border - 0" })
                            }
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

    @section scripts {
        <script>
            $(document).ready(function () {
                $('#table_id').DataTable(
                    {
                        paging: 10,
                        pageLength: 10,
                        lengthMenu: [5, 10, 15, 20, 25, 50]
                    }
                );
            });
        </script>
    }
</body>
</html>
